<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866624331389-6id7oovhrfrcifnd6oiue4c8d2usbr30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866624331389-6id7oovhrfrcifnd6oiue4c8d2usbr30</string>
	<key>API_KEY</key>
	<string>AIzaSyDqG8NpOX9YOH8P9KquJzE-UpKzVUDaM9c</string>
	<key>GCM_SENDER_ID</key>
	<string>866624331389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SergeiKrainov.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-92e27</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-92e27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866624331389:ios:3440233d107e4a8ac15b14</string>
</dict>
</plist>